* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;
}

h1, h3 {
  margin-bottom: 1rem;
  font-weight: normal;
}

.shadow-textarea {
  cursor: url(/cursors/cursor-text.png), auto;
  padding: 0;
  margin-top: -2.25px;
  border: none;
  outline: none;
  background: none;
  overflow: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: transparent;
  caret-color: black;
}